<div class="main-content">
    <div class="heading text-center">
        <h3>Git Repository Creation</h3>
    </div>
    <div class="content">
        <p>Login to GitHub qith your credentials.</p>
        <ol>
            <li>
                <p>Clicl on Repository and click on new Repository.</p> 
            </li>
            <li><p>Follow the given Steps below after creating a Repository.</p></li>
            <li>
                <p>To initialize , add, push, commit changes the below commands will help:</p>
                <ol start="1">
                    <li><p>cmd : "git init" (to start git)</p></li>
                    <li><p>cmd : "git add ." (to add all the files into the repo)</p></li>
                    <li><p>cmd : "git commit -m "message_of_commit" (modify the message_of_commit with proper message_of_commit)</p></li>
                    <li><p>cmd : "git push" (to push the code into git)</p></li>
                </ol>
            </li>
        </ol>
    </div>
</div>