<div class="main-content">
    <div class="heading text-center">
        <h3>Angular Setup</h3>
    </div>
    <div class="main-content">
        <p>After Installing Vscode and NodeJs on your systems, it's time for us to install angular.</p>
        <p>To install Angular follow the steps below:</p>
        <ol>
            <li><p>Open VsCode and open terminal which is located on the top.</p></li>
            <li><p>Check Whether the NodeJs is installed Successfully.</p>
                <ul>
                    <li><p>To check run the command in the terminal "npm -version"</p></li>
                    <li><p>It displays the version you installed.</p></li>
                </ul>
            </li>
            <li><p>Once installation is done successfully. Run the following command in the terminal to install Angular.</p>
                <ul>
                    <li>cmd : "npm install -g @angular/cli"</li>
                </ul>
            </li>
            <li><p>After that to confirm successful installation,run the following command</p>
                <ul>
                    <li><p>cmd : "ng version"</p></li>
                </ul>
            </li>
        </ol>
    </div>
</div>