<div class="main-content">
    <div class="heading text-center">
        <h3>Node Js Setup</h3>
    </div>
    <div class="content">
        <p>To setup or download Node Js on your system follow the steps mention below</p>
        <ol>
            <li>Click on the link to go to the NodeJs download page 
                <a href="https://nodejs.org/en/download/">Click Here</a>
                Or Copy the link and paste in the browser "https://nodejs.org/en/download/".
            </li>
            <li>
                Select the Type of your os and the system type and click on it
            </li>
            <li>
                The download will automatically start. It downloads a .Zip file. Extract The file and start intsllation.
            </li>
        </ol>
    </div>
    <p>After Successfully Installing VS Code and Node Js now its time to setup angular in our system.</p>
</div>