<div class="main-content">
    <div class="heading text-center">
        <h3>Angular Setup</h3>
    </div>
    <div class="content">
        <p>To setup or download VsCode Editor on your system follow the steps mention below</p>
        <ol>
            <li>Click on the link to go to the VsCode download page 
                <a href="https://code.visualstudio.com/download">Click Here</a>
                Or Copy the link and paste in the browser "https://code.visualstudio.com/download".
            </li>
            <li>
                Select the Type of your os and the system type and click on it
            </li>
            <li>
                The download will automatically start. It downloads a .Zip file. Extract The file and start intsllation.
            </li>
        </ol>
    </div>
</div>