<div class="main-content">
    <div class="heading text-center">
        <h3>Angular Project Creation</h3>
    </div>
    <div class="content">
        <p>To create an Angular project  on your system follow the steps mention below</p>
        <ol>
            <li>
                <p>Click on the file menu in Vscode and there you can either choose to create a new project or you can add an existing project to the workplace.</p>
            </li>
            <li>
                <h5>To create a new project open Vscode terminal and type the command</h5>
                <ul>
                    <li><p>cmd : "ng new project_name (replace the project_name with the name of your project)"</p></li>
                </ul>
            </li>
            <li>
                <p>Once the project is created, we can check or run the project by the command </p>
                <ul>
                    <li>cmd : "ng server" (in the terminal)</li>
                    
                </ul>
            </li>
            <li>
                <p>open the app in localhost:4200</p>
            </li>
        </ol>
    </div>
</div>